body{
    margin: 0px;
}
.container-full{
    /*  */
    background: purple;
    height: 100vh;
    padding-top: 10px;
}
.container{
    width: 80%;
    height: 90%;
    background: white;
    margin: 0 auto;
}
.icon{
    font-size: 30px;
    background: yellow;
    padding: 5px;
    border: 1px solid black;
    margin-top: 10px;
}
.nav{
    text-align: center;
}
#logo{
    height: 50px;
    float: left;
    top: 0;
}
.right{
    float: right !important;
}
.fixed{
    position: fixed;
    background: white;
    padding: 10px;
    bottom: 10px;
    left: 10px;
}
.absolute{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.8);
}
.message{
    width: 80%;
    height: 80%;
    background: white;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}